{% extends 'accounts/base.html' %}
{% load static %}
{% block body_block %}
{% if user.is_authenticated %}
    {% if user.company.is_company %}
        {% include 'company_index.html' %}
    {% else %}
        {% include 'seeker_index.html' %}
    {% endif %}
{% else %}
    {% include 'anonymous_index.html' %}
{% endif %}
<script type="text/javascript">
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
      e.preventDefault();

      document.querySelector(this.getAttribute('href')).scrollIntoView({
        behavior: 'smooth'
      });
    });
  });
</script>
{% endblock %}
