{% extends 'accounts/base.html' %}
{% load static %}
{% block body_block %}
<section class="breadcrumbs">
  <div class="container">

    <div class="d-flex justify-content-between align-items-center">
      <h2>Jobs</h2>
      <ol>
        <li><a href="{% url 'gearupjob:index' %}"><strong>Home</strong></a></li>
        <li>Jobs</li>
      </ol>
    </div>

  </div>
</section>

<section class="section-hero overlay inner-page" style="background-image: url('{% static 'images/job.jpg' %}');" id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="text-white font-weight-bold">All Jobs</h1>
      </div>
    </div>
  </div>
</section>
<hr class="my-4">
<div class="section-title ">
  <h2><strong>Jobs</strong></h2>
</div>
<section class="">
  <div class="container">
    {% for job in jobs %}
    {% if job.Company_Username.company_username.is_active %}
    <div class="info-wrap">

      <div class="col-md-12 ftco-animate">

        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

          <div class="mb-4 mb-md-0 mr-5">
            <div class="job-post-item-header d-flex align-items-center">
              <h2 class="mr-3 text-black h3">{{job.title}}</h2>
              <div class="badge-wrap">
                {% if job.job_type == 'Full Time' %}
                <span class="bg-warning text-white badge py-2 px-3">Full Time</span>
                {% else %}
                {% if job.job_type == 'Freelance' %}
                <span class="bg-info text-white badge py-2 px-3">Freelance</span>
                {% else %}
                {% if job.job_type == 'Internship' %}
                <span class="bg-secondary text-white badge py-2 px-3">Internship</span>
                {% else %}
                {% if job.job_type == 'Temporary' %}
                <span class="bg-danger text-white badge py-2 px-3">Temporary</span>
                {% else %}
                <span class="bg-primary text-white badge py-2 px-3">Part Time</span>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endif %}

              </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><span class="icon-layers"></span> <a href="{% url 'gearupjob:company_detail' job.Company_Username.pk %}">{{job.Company_Username.company_name}}</a></div>
              <div><span class="m-2"><span class="icon-room mr-2"></span><span>{{job.Company_Username.address}}</span></div>
            </div>
          </div>

          <div class="ml-auto d-flex">
            <div class="badge-wrap">
              <span class="bg-success text-white badge py-2 px-3">{{job.view}} Views</span>
            </div>
            <a href="{% url 'gearupjob:job_single' job.pk %}" class="btn btn-primary py-2 mr-1">Detail</a>

          </div>
        </div>
      </div>
    </div>
    <hr class="my-4">
    {% endif %}
    {% endfor %}

    <div class="row pagination-wrap">

      <div class="col-md-6 text-center text-md-left">
        <div class="custom-pagination ml-auto">
          {% if jobs.has_previous %}
          <a href="?page={{ jobs.previous_page_number }}" class="prev">Previous</a>
          {% endif %}
          <div class="d-inline-block">
            Page <a href="#" class="active">{{ jobs.number }}</a> of {{ jobs.paginator.num_pages }}


          </div>
          {% if jobs.has_next %}
          <a href="?page={{ jobs.next_page_number }}" class="next">Next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</section>


{% endblock %}
