{% extends 'accounts/base.html' %}
{% load static %}
{% block body_block %}
<div class="container">
  <div class="row">
    <div class="col out">
    </div>
    <div class="col-8">
      <div class="info-wrap">
        <div id='job' class="section-title " style="padding-top:3rem;">
          {% if not form.instance.pk %}
          <h2><strong>Create Company</strong></h2>
          {% else %}
          <h2><strong>Edit profile</strong></h2>
          {% endif %}
        </div>

        <form class="needs-validation padding-all" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6 mb-3">

              {% if form.company_name.errors %}
              <small class="form-text text-danger">{{form.company_name.errors}}</small>
              {% endif %}

              <label for="Name"><strong>Name</strong></label>

              {{form.company_name}}
            </div>
            <div class="col-md-5 mb-3">

              {% if form.address.errors %}
              <small class="form-text text-danger">{{form.address.errors}}</small>
              {% endif %}

              <label for="address"><strong>Location</strong></label>
              {{form.address}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">

              {% if form.url.errors %}
              <small class="form-text text-danger">{{form.url.errors}}</small>
              {% endif %}

              <label for="url"><strong>Url</strong> <span class="text-muted">(Optional)</span></label>
              {{form.url}}
            </div>
            <div class="col-md-5 mb-3">

              {% if form.phone_number.errors %}
              <small class="form-text text-danger">{{form.phone_number.errors}}</small>
              {% endif %}

              <label for="phone_number"><strong>Phone Number</strong></label>
              {{form.phone_number}}
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 mb-3">

              {% if form.description.errors %}
              <small class="form-text text-danger">{{form.description.errors}}</small>
              {% endif %}

              <label for="description"><strong>Description</strong></label>
              {{form.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">

              {% if form.profile_pic.errors %}
              <small class="form-text text-danger">{{form.profile_pic.errors}}</small>
              {% endif %}

              <label for="image"><strong>Image</strong> <span class="text-muted">(Optional)</span></label>
              {{form.profile_pic}}
            </div>
          </div>



          <hr class="mb-4">
          {% if not form.instance.pk %}
          <input type="submit" class="btn btn-primary" value="Submit">
          {% else %}
          <input type="submit" class="btn btn-warning" value="Save">
          {% endif %}
        </form>
      </div>
    </div>
    <div class="col out">

    </div>
  </div>
</div>
<script>
  var editor = new MediumEditor('.editable');
</script>
<script>
  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder = '1';
  form_fields[2].placeholder = '2';
  form_fields[3].placeholder = '3';
  form_fields[4].placeholder = '4';
  form_fields[5].placeholder = '5';
  form_fields[6].placeholder = '';




  for (var field in form_fields) {
    form_fields[field].className += ' form-control'
  }
</script>
{% endblock %}
